<!DOCTYPE html>
<html>
<head>
  <title>SummerResidents</title>
  <%= stylesheet_link_tag    "summer_residents/application", :media => "all" %>
  <%= javascript_include_tag "summer_residents/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
