h1.inline_header {
  display:inline;
}
div.summer_residents_family {
  padding:6px;
  border:1px solid black;
  text-align:left;
  display:inline-block;
  a.delete_family_link {
    display:block;
  }
  div#error_explanation {
    width:auto;
    display:inline-block;
  }
}
