div.summer_residents_resident {
  padding:6px;
  border:1px dotted black;
  text-align:left;
  form.update_resident_form {
    td.label_td {
      text-align:right;
    }
    td.update_link_td {
      text-align:center;
    }
  }
}
