<%= engine_tag do %>
<p id="notice"><%= notice %></p>
<h1 class="inline_header">Listing families</h1>&emsp;(<%= link_to 'Add a family', new_family_path %>)<p />

<% i = 0 %>
<% @families.each do |family| %>
  <%= render :partial => 'show', :object => family, :as => :family %>
  <% i += 1; i = i % SummerResidents.config.families_per_row; if (0 == i) then %><br /><% end %>
<% end %>

<br />
<% end %>
